<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.mapper.RoleMapper">
    <resultMap id="baseResultMap" type="cn.wolfcode.domain.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sn" column="sn"/>
        <collection property="permissions" column="id" ofType="cn.wolfcode.domain.Permission"
                    select="cn.wolfcode.mapper.PermissionMapper.selectPermissionByRoleId"/>
    </resultMap>

    <insert id="save">
         insert into role(name,sn) values (#{name},#{sn});
    </insert>

    <insert id="saveRoleAndPermission">
        insert into role_permission(role_id, permission_id) values (#{roleId},#{permissionId})
    </insert>

    <delete id="delete">
        delete from role where id = #{id}
    </delete>

    <delete id="deleteRoleAndPermissionRelation">
        delete from role_permission where role_id = #{id}
    </delete>

    <update id="update">
        update role set name = #{name} ,sn = #{sn} where id = #{id}
    </update>

    <select id="selectOne" resultMap="baseResultMap">
        select * from role where id = #{id}
    </select>

    <select id="selectAll" resultType="cn.wolfcode.domain.Role">
        select * from role
    </select>

    <select id="queryForCount" resultType="java.lang.Integer">
        select count(*) from role
    </select>

   <!-- <select id="queryForPage" resultType="cn.wolfcode.domain.Role">
        select * from role
    </select>-->
    <select id="selectRoleByEmpId" resultType="cn.wolfcode.domain.Role">
        select r.id,r.name,r.sn
        from employee_role er
        left join role r on er.role_id = r.id
        where er.employee_id = #{id}
    </select>


</mapper>