<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.employment.mapper.UserMapper">
    <update id="updateCount">
        update employee set count = count + 1 where username = #{username}

    </update>
    <update id="updateStatus">
        update employee set status = 0 where username = #{username}

    </update>

    <select id="selectUser" resultType="cn.wolfcode.domain.Employee">
        select * from employee where username = #{username} and password = #{password}
    </select>
    <select id="selectName" resultType="java.lang.String">
        select  username from employee where username = #{username}
    </select>
    <select id="selectCountAndName" resultType="cn.wolfcode.domain.Employee">
        select status , count  from employee  where  username=#{username}
    </select>


</mapper>